{% extends 'base.html' %}

{% block title %}
    Locations
{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex flex-row-reverse mb-3" id="header-buttons">
        <a href="{% url 'locations:create' %}">
            <button class="btn btn-success">
                Add Location
            </button>
        </a>
    </div>
    <table class="table table-condensed">
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    {% for object in object_list %}
        <tr>
            <td>{{ object.name }}</td>
            <td>
                <a class="btn btn-sm btn-icon btn-secondary" href="{% url 'locations:update' object.pk %}">
                    <i class="fa fa-pencil"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
</div>
{% endblock %}
