{% extends 'base.html' %}
{% load static %}

{% block title %}
    New Specimen
{% endblock title %}

{% block content %}
    <form class="form" action="." method="post">
        <div class="container">
            {% include 'specimen/sample-details-form.html' %}
            <hr />
            {% include 'specimen/direction-details-form.html' %}
            <hr />
            {% include 'specimen/specimen-images-form.html' %}
        </div>
    </form>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'javascript/specimen-upload-photo.js' %}"></script>
{% endblock extra_js %}