<div class="row text-center">
    <h4 class="col-md-1"></h4>
    <h4 class="col-md-2">N</h4>
    <h4 class="col-md-2">E</h4>
    <h4 class="col-md-2">W</h4>
    <h4 class="col-md-2">S</h4>
    <h4 class="col-md-2">Average</h4>
</div>

<div class="form-row" id="phLevels">
    <!-- <label class="col-md-1" for="">PH Level</label>
    <input class="col-md-2 form-control" type="text" name="northPH" id="northPH">
    <input class="col-md-2 form-control" type="text" name="eastPH" id="eastPH">
    <input class="col-md-2 form-control" type="text" name="westPH" id="westPH">
    <input class="col-md-2 form-control" type="text" name="southPH" id="southPH"> -->
</div>

<!-- <div class="row" id="epiphytes">
    <label class="col-md-1" for="">Epiphytes Present</label>
    <input class="col-md-2 form-control" type="text" name="northEpiphytes" id="northPH">
    <input class="col-md-2 form-control" type="text" name="eastEpiphytes" id="eastPH">
    <input class="col-md-2 form-control" type="text" name="westEpiphytes" id="westPH">
    <input class="col-md-2 form-control" type="text" name="southEpiphytes" id="southPH">
</div> -->


