{% extends 'base.html' %}
{% load static %}
{% load core_extras %}

{% block title %}
    Edit Direction Details - {{ object.name }}
{% endblock title %}

{% block content %}
    <form action="." method="post">
        {% csrf_token %}
        <div class="row text-center">
            <h4 class="col-md-2"></h4>
            <h4 class="col-md-2">N</h4>
            <h4 class="col-md-2">E</h4>
            <h4 class="col-md-2">W</h4>
            <h4 class="col-md-2">S</h4>
            <h4 class="col-md-2">Average</h4>
        </div>

        <div class="form-row mb-3" id="phLevels">
            <div class="col-md-2">
                <label>1st PH Level</label>
                <label>2nd PH Level</label>
                <label>3rd PH Level</label>
            </div>
            <div class="col-md-2">
                <input class="form-control" type="number" step="0.01" name="northPH1" id="northPH1" {% if north_details %}value="{{ north_details.ph_level_1 }}"{% endif %}>
                <input class="form-control" type="number" step="0.01" name="northPH2" id="northPH2" {% if north_details %}value="{{ north_details.ph_level_2 }}"{% endif %}>
                <input class="form-control" type="number" step="0.01" name="northPH3" id="northPH3" {% if north_details %}value="{{ north_details.ph_level_3 }}"{% endif %}>
            </div>
            <div class="col-md-2">
                <input class="form-control" type="number" step="0.01" name="eastPH1" id="eastPH1" {% if east_details %}value="{{ east_details.ph_level_1 }}"{% endif %}>
                <input class="form-control" type="number" step="0.01" name="eastPH2" id="eastPH2" {% if east_details %}value="{{ east_details.ph_level_2 }}"{% endif %}>
                <input class="form-control" type="number" step="0.01" name="eastPH3" id="eastPH3" {% if east_details %}value="{{ east_details.ph_level_3 }}"{% endif %}>
            </div>
            <div class="col-md-2">
                <input class="form-control" type="number" step="0.01" name="westPH1" id="westPH1" {% if west_details %}value="{{ west_details.ph_level_1 }}"{% endif %}>
                <input class="form-control" type="number" step="0.01" name="westPH2" id="westPH2" {% if west_details %}value="{{ west_details.ph_level_2 }}"{% endif %}>
                <input class="form-control" type="number" step="0.01" name="westPH3" id="westPH3" {% if west_details %}value="{{ west_details.ph_level_3 }}"{% endif %}>
            </div>
            <div class="col-md-2">
                <input class="form-control" type="number" step="0.01" name="southPH1" id="southPH1" {% if south_details %}value="{{ south_details.ph_level_1 }}"{% endif %}>
                <input class="form-control" type="number" step="0.01" name="southPH2" id="southPH2" {% if south_details %}value="{{ south_details.ph_level_2 }}"{% endif %}>
                <input class="form-control" type="number" step="0.01" name="southPH3" id="southPH3" {% if south_details %}value="{{ south_details.ph_level_3 }}"{% endif %}>
            </div>
        </div>

        <div class="form-row">
            <label class="col-md-2">State of Decay</label>
            <div class="col-md-2">
                <select name="northStateOfDecay" id="northStateOfDecay">
                    <option value="">-----</option>
                    {% for state in state_of_decay_choices %}
                        <option value="{{ state.value }}" {% if state.value == north_details.state_of_decay %}selected{% endif %}>{{ state.display }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <select name="eastStateOfDecay" id="eastStateOfDecay">
                    <option value="">-----</option>
                    {% for state in state_of_decay_choices %}
                        <option value="{{ state.value }}" {% if state.value == east_details.state_of_decay %}selected{% endif %}>{{ state.display }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <select name="westStateOfDecay" id="westStateOfDecay">
                    <option value="">-----</option>
                    {% for state in state_of_decay_choices %}
                        <option value="{{ state.value }}" {% if state.value == west_details.state_of_decay %}selected{% endif %}>{{ state.display }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <select name="southStateOfDecay" id="southStateOfDecay">
                    <option value="">-----</option>
                    {% for state in state_of_decay_choices %}
                        <option value="{{ state.value }}" {% if state.value == south_details.state_of_decay %}selected{% endif %}>{{ state.display }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-row">
            <label class="col-md-2">Bark Texture</label>
            <div class="col-md-2">
                <select name="northBarkTexture" id="northBarkTexture">
                    <option value="">-----</option>
                    {% for texture in texture_choices %}
                        <option value="{{ texture.value }}" {% if texture.value == north_details.bark_texture %}selected{% endif %}>{{ texture.display }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <select name="eastBarkTexture" id="eastBarkTexture">
                    <option value="">-----</option>
                    {% for texture in texture_choices %}
                        <option value="{{ texture.value }}" {% if texture.value == east_details.bark_texture %}selected{% endif %}>{{ texture.display }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <select name="westBarkTexture" id="westBarkTexture">
                    <option value="">-----</option>
                    {% for texture in texture_choices %}
                        <option value="{{ texture.value }}" {% if texture.value == west_details.bark_texture %}selected{% endif %}>{{ texture.display }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <select name="southBarkTexture" id="southBarkTexture">
                    <option value="">-----</option>
                    {% for texture in texture_choices %}
                        <option value="{{ texture.value }}" {% if texture.value == south_details.bark_texture %}selected{% endif %}>{{ texture.display }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-row">
            <label class="col-md-2">Stain</label>
            <div class="col-md-2">
                <input type="checkbox" name="northStain" id="northStain" {% if north_details.stain %}checked{% endif %}>
            </div>
            <div class="col-md-2">
                <input type="checkbox" name="eastStain" id="eastStain" {% if east_details.stain %}checked{% endif %}>
            </div>
            <div class="col-md-2">
                <input type="checkbox" name="westStain" id="westStain" {% if west_details.stain %}checked{% endif %}>
            </div>
            <div class="col-md-2">
                <input type="checkbox" name="southStain" id="southStain" {% if south_details.stain %}checked{% endif %}>
            </div>
        </div>

        <div class="form-row">
            <label class="col-md-2">Epiphytes Present</label>
            <div class="col-md-2" id="northEpiphytes">
                <div class="row text-center mt-2" id="northButtons">
                    <div class="col-6">
                        <button type="button" class="btn btn-success" id="north-add">+</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-danger" id="north-min">-</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2" id="eastEpiphytes">
                <div class="row text-center mt-2" id="eastButtons">
                    <div class="col-6">
                        <button type="button" class="btn btn-success" id="east-add">+</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-danger" id="east-min">-</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2" id="westEpiphytes">
                <div class="row text-center mt-2" id="westButtons">
                    <div class="col-6">
                        <button type="button" class="btn btn-success" id="west-add">+</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-danger" id="west-min">-</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2" id="southEpiphytes">
                <div class="row text-center mt-2" id="southButtons">
                    <div class="col-6">
                        <button type="button" class="btn btn-success" id="south-add">+</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-danger" id="south-min">-</button>
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" value="Save">
    </form>
{% endblock content %}

{% block extra_js %}
    <script>
        function addEpiphyteSelectBox(direction, initialValue)
        {
            const buttons = `#${direction}Buttons`;
            const previousSelect = `#${direction}Epiphytes > select:last-of-type`;
            const previousId = $(previousSelect).length > 0 ? parseInt(
                ($(previousSelect).attr('id'))
                .slice(-1)
            ): 0;
            const newId = (previousId + 1).toString();
            let newSelect = '';

            if(initialValue)
            {
                option_list = []
                {% for epiphyte in epiphytes %}
                    option_list.push(
                        {
                            template_part1: `<option value="{{ epiphyte.pk }}"`,
                            template_part2: `>{{ epiphyte.name }}</option>`,
                            pk: `{{ epiphyte.pk }}`
                        }
                    );
                {% endfor %}

                const select_options = option_list.map(element => {
                    if(element.pk == initialValue)
                    {
                        element.template_part1 = `${element.template_part1} selected`
                    }
                    return `${element.template_part1}${element.template_part2}`
                })
                newSelect = `
                <select class="form-control" name="${direction}Epiphyte-${newId}" id="${direction}Epiphyte-${newId}">
                    <option value="">-----</option>
                    ${select_options.join('')}
                </select>`;
            }
            else
            {
                newSelect = `
                <select class="form-control" name="${direction}Epiphyte-${newId}" id="${direction}Epiphyte-${newId}">
                    <option value="">-----</option>
                    {% for epiphyte in epiphytes %}
                        <option value="{{ epiphyte.pk }}">{{ epiphyte.name }}</option>
                    {% endfor %}
                </select>`;
            }

            $(buttons).before(newSelect);
        }

        function removeEpiphyteSelectBox(direction)
        {
            const selectCount = $(`#${direction}Epiphytes > select`).length;
            const lastSelect = `#${direction}Epiphytes > select:last-of-type`;

            if(selectCount > 1)
            {
                $(lastSelect).remove();
            }
            else
            {
                $(lastSelect).val("").trigger('change');
            }
        }

        function initializeForm()
        {
            let north = 0;
            let east = 0
            let west = 0;
            let south = 0;

            {% for pk in north_organisms %}
                north += 1;
                addEpiphyteSelectBox('north', '{{ pk }}');
            {% endfor %}

            {% for pk in east_organisms %}
                east += 1;
                addEpiphyteSelectBox('east', '{{ pk }}');
            {% endfor %}

            {% for pk in west_organisms %}
                west += 1;
                addEpiphyteSelectBox('west', '{{ pk }}');
            {% endfor %}

            {% for pk in south_organisms %}
                south += 1;
                addEpiphyteSelectBox('south', '{{ pk }}');
            {% endfor %}

            if(north == 0)
                addEpiphyteSelectBox('north');
            if(east == 0)
                addEpiphyteSelectBox('east');
            if(west == 0)
                addEpiphyteSelectBox('west');
            if(south == 0)
                addEpiphyteSelectBox('south');
        }

        $(document).ready(() =>
        {
            initializeForm();

            $('#north-add').click((event) => addEpiphyteSelectBox('north'));
            $('#east-add').click((event) => addEpiphyteSelectBox('east'));
            $('#west-add').click((event) => addEpiphyteSelectBox('west'));
            $('#south-add').click((event) => addEpiphyteSelectBox('south'));

            $('#north-min').click((event) => removeEpiphyteSelectBox('north'));
            $('#east-min').click((event) => removeEpiphyteSelectBox('east'));
            $('#west-min').click((event) => removeEpiphyteSelectBox('west'));
            $('#south-min').click((event) => removeEpiphyteSelectBox('south'));
        });
    </script>
{% endblock extra_js %}
