<h3>Specimen Images</h3>

<div class="container">
    <div class="row text-center">
        <h4 class="col-md-3">N</h4>
        <h4 class="col-md-3">E</h4>
        <h4 class="col-md-3">W</h4>
        <h4 class="col-md-3">S</h4>
    </div>

    <div class="row">
        <div id="northImages" class="col-md-3">
            <input type="file" name="fileupload" value="fileupload" id="northImageButton-1" onChange="displayUploaded(this, 'north', 1)">
        </div>
        <div id="eastImages" class="col-md-3">
            <input type="file" name="fileupload" value="fileupload" id="eastImageButton-1" onChange="displayUploaded(this, 'east', 1)">
        </div>
        <div id="westImages" class="col-md-3">
            <input type="file" name="fileupload" value="fileupload" id="westImageButton-1" onChange="displayUploaded(this, 'west', 1)">
        </div>
        <div id="southImages" class="col-md-3">
            <input type="file" name="fileupload" value="fileupload" id="southImageButton-1" onChange="displayUploaded(this, 'south', 1)">
        </div>
    </div>
</div>