{% extends 'base.html' %}
{% load static %}

{% block title %}
    Update Specimen - {{ object.name }}
{% endblock title %}

{% block content %}
<div class="container">
    <h2>Update Specimen</h2>
    <form class="form" action="." method="post">
        {% csrf_token %}
        {% include 'specimen/specimen-form.html' %}
        <input type="submit" value="Update"/>
    </form>
</div>
{% endblock content %}

{% block extra_js %}
<script>
    $(document).ready(() => {
        $('#id_collection_date').flatpickr();
    });
</script>
{% endblock extra_js %}