<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
        {% endblock title %}
    </title>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'jquery/jquery.min.js' %}"></script>

    {% block styles %}
    {% endblock styles %}

    {% block head_scripts %}
    {% endblock head_scripts %}

</head>
<body>
    {% block initial_js %}
    {% endblock initial_js %}

    {% block modals %}
    {% endblock modals %}

    {% block content %}
    {% endblock content %}

    {% block extra_js %}
    {% endblock extra_js %}
</body>
</html>