<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
        {% endblock title %}
    </title>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/flatpickr/flatpickr.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'jquery/jquery-ui.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    
    <style>
        #northEpiphyte_1 {
            border: 1;
            border-color: blueviolet;
            margin: 1000px;
        }
    </style>

    {% block styles %}
    {% endblock styles %}

    {% block head_scripts %}
    {% endblock head_scripts %}

</head>
<body>
    {% block initial_js %}
    {% endblock initial_js %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
        <a class="navbar-brand" href="#">Classifier</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'dashboard' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'specimen:list' %}">Specimens</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'trees:list' %}">Tree Hosts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'locations:list' %}">Locations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'epiphytes:list' %}">Epipyhtes</a>
            </li>
            
            </ul>
            <span class="navbar-text">
            Navbar text with an inline element
            </span>
        </div>
    </nav>
    
    {% block modals %}
    {% endblock modals %}
    
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
    
    <script src="{% static 'vendor/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'vendor/flatpickr/plugins/monthSelect/index.js' %}"></script>

    {% block extra_js %}
    {% endblock extra_js %}
</body>
</html>